$nexa: 'nexa_rust_slabblack_shadow_01', monospace
$mono: 'Cutive Mono', monospace
$openSans: 'Open Sans', sans-serif
$cyan: #50E3C2
$white: #FFFFFF
$red: #D0021B
$g3: #333333
$g38: #383838
$g2D: #2D2D2D
$easeOutExpo: cubic-bezier(.19,1,.22,1)
$cyanShadow: 1px 2px 0px rgba($cyan, 0.75)
$g3Shadow: 1px 2px 0px rgba($g3, 0.75)